.container-fluid {
	margin-top: 1rem;
}

#games ul {
	padding-left: 0rem;
	list-style: none;
}

#games li:before {
	content: '\2022';
	display: inline-block;
	width: .5rem;
	margin-right: .5rem;
}

#games li.pass:before {
	content: '\2713';
	color: #5cb85c;
}

#games li.fail:before {
	content: '\2717';
	color: #d9534f;
}

.system-icon {
	margin-right: .5rem;
}

@media (max-width: 991px) {
	.navbar-toggleable-md .navbar-nav .nav-item {
		margin-top: .425rem;
		margin-bottom: .425rem;
	}
}